
$primary-color: #1d3f86;
$secondary-color: #2a3563;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;

$base-font-size: 16px;
$base-font-family: Tahoma, "Trebuchet MS", sans-serif;


$base-spacing: 16px;
$base-border-radius: 4px;

$gray-color: #6c757d;
$light-gray-color: #f8f9fa;
$dark-gray-color: #343a40;